/* ------------------------------------------ Parte del apartado prendas ------------------------------------------ */
.Box_Clothes {
    background-color: #fbfaf5dc;
    border-radius: 50px;
    padding: 30px;
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Box_Clothes .box_each_Prenda {
    width: 100%;
    overflow: hidden;
}

.Box_Clothes table {
    width: 100%;
}

.Box_Clothes th,
.Box_Clothes td {
    padding: 10px;
}

.DIVImagenPrenda{
    background-color: rebeccapurple;
}

.ImagenPrenda{
    width: 150px;
    height: 150px;
}

.ImagenPrendaCRUD{
    width: 90px;
    height: 90px;
    border-radius: 10px;
}