* {
    box-sizing: border-box;
    margin: 10;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100%;
    background-color: #2C3E50;
}

html {
    height: 100%;
}

.grid-container>* {
    box-shadow: -1px 1px 5px 0px rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.header {
    grid-area: header;
    text-align: center;
    background-color: #F23535;
    color: white;
}

.nav ul {
    background-color: #9400E6;
    text-align: start;
    color: rgb(255, 255, 255);
    margin-left: 450px;
    margin-right: 450px;
    border-radius: 20px;
    word-spacing: 15px;
}

.links {
    color: white;
}

.aside {
    grid-area: aside;
    background-color: #EAF205;
}

.footer {
    grid-area: footer;
    background-color: #9400E6;
    color: white;
}

/*Para Computadoras*/
@media(min-width: 900px) {
    .grid-container {
        display: grid;
        gap: 20px;

        /*Definiendo el alto de las filas:*/
        /*Si queremos una columna vacia ponesmos un punto "."*/
        grid-template:
            "header header" 130px
            /*alto*/
            "aside  section" auto
            "footer footer" 100px /
            200px auto;
        /*ancho:*/
        /*Definiendo el ancho de las columnas ( / 200px auto):*/
    }
}