<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" <head>
<title>Yellow Men</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../css/Styles.css" rel="stylesheet">
<link href="../css/StylesPrendas.css" rel="stylesheet">

<body class="grid-container">

    <section class="section">
        <div class="col-sm d-flex justify-content-center text-center">
            <a th:href="@{/listaProductos}">
                <div class="backgrounds justify-content-center">
                    <h2>Productos</h2>
                    <img th:src="" alt="Productos" />
                </div>
            </a>
        </div>
        <div class="col-sm d-flex justify-content-center text-center">
            <a th:href="@{/users}">
                <div class="backgrounds justify-content-center">
                    <h2>Usuarios</h2>
                    <img th:src="" alt="Usuarios" />
                </div>
            </a>
        </div>
    </section>

</body>

</html>