<header class="header" th:fragment="header">
    <h1 th:text="${titulo}"></h1>
    <nav class="nav">
        <ul>
            <li><a class="links" th:href="@{/listaProductos}"><strong>Productos</strong></a></li>
            <li><a class="links" th:href="@{/users}"><strong>Usuarios</strong></a></li>
        </ul>
    </nav>
    <div class="DivButtonAdmin">
        <a th:href="@{/index}" target="_blank">
            <img src="../img/AdminMode.png" alt="Admin" class="LinkAdminMode">
        </a>
    </div>
</header>