<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" <head>
<title>Yellow Men</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../css/StylesCardsProducts.css" rel="stylesheet">
<link href="../css/Styles.css" rel="stylesheet">

<body class="grid-container">

    <div class="header" th:include="Header_Template.html :: header"></div>

    <div class="container">
        <div class="card" th:each="prenda : ${clothes}">
            <div class="card-head">
                <div class="product-detail">
                    <img alt="..." class="product-img" th:src="${prenda.ruta_imagen}">
                </div>
            </div>
            <div class="card-body">
                <div class="product-desc">
                    <span class="product-title">
                        <span th:text="${prenda.nombre_prenda}"</span>
                        </span>
                </div>
                <div class="product-properties">
                    <span class="product-size">
                        <h4>Size</h4>
                        <span th:text="${prenda.descripcion}"></span>
                    </span>
                    <span class="product-price">
                        <span th:text="${prenda.precio}"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="footer" th:include="Footer_Template.html :: Footer"></div>

</body>