<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" <head>
<title>YellowMen</title>
<style>

</style>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../css/StylesDestacado.css" rel="stylesheet">
<link href="../css/Styles.css" rel="stylesheet">

<body class="grid-container">

    <div class="header" th:include="Header_Template.html :: header"></div>

    <div class="articulos">
        <div class="articulo-principal">
            <h2>CAMISETA KEEP CALM</h2>
            <p>Manfinity EMRG Hombres Camiseta algodón con slogan & con estampado de grulla</p>
            <img src="https://img.ltwebstatic.com/images3_pi/2023/06/13/1686622673169a2bd8df6bdcdf86174d87a87d0b4d_thumbnail_600x.jpg"
                alt="" width="250" height="250" />
            <img src="https://img.ltwebstatic.com/images3_pi/2023/06/13/16866226753784262abd38cba89175cd6bb7735d12_thumbnail_600x.webp"
                alt="" width="250" height="250" />
            <p>SKU:sm2304251320281200 </p>
        </div>

        <div class="articulo">
            <h2>SUDADERA</h2>
            <p>Manfinity Hypemode Hombres Capucha térmica con estampado de slogan y dibujos animados con bolsillo de
                canguro con cordón</p>
            <img src="https://img.ltwebstatic.com/images3_pi/2022/10/24/166657601584e1102628ca20bc443440caea9683f6_thumbnail_600x.jpg"
                alt="" width="150" />

            <p>SKU: sm2209236292506119</p>
        </div>

        <div class="articulo">
            <h2>BLUSA FACES</h2>
            <p>SHEIN Privé Blusa con estampado de cuello con abertura de ojo halter</p>
            <img src=" https://img.ltwebstatic.com/images3_pi/2023/06/26/1687745989d0d4640b9b567acb6934539f0d04ea14_thumbnail_600x.jpg "
                alt="" width="150" />
            <p>SKU: sz2305261818411811</p>
        </div>

        <div class="articulo">
            <h2>Artículo 3</h2>
            <p>SHEIN Chicos con estampado de letra Camiseta & con cinta en contraste Shorts</p>
            <img src=" https://img.ltwebstatic.com/images3_pi/2023/02/13/1676256252bf3eeb35fd10db51263a7ec8dec90612_thumbnail_600x.jpg "
                alt="" width="150" />
            <p>SKU: sk2212295929543645</p>
        </div>

        <div class="articulo">
            <h2>VESTIDO CREMA</h2>
            <p>SHEIN Privé Vestido ajustado de hombros descubiertos fruncido.</p>
            <img src="https://img.ltwebstatic.com/images3_pi/2023/06/15/16867941608b74e6d5042cd9bbea4a911420ca532f_thumbnail_600x.webp  "
                alt="" width="150" />
            <p>SKU: sz2305191052091749</p>
        </div>

        <div class="articulo">
            <h2>BOLSO MONEDERO</h2>
            <p>Monedero con cierre
                de beso con diseño gráfico de pintura,
                monedero con cielo estrellado, bolsa de almacenamiento elegante con
                cierre de beso para lápiz labial y llave para mujer </p>
            <img src=" https://img.ltwebstatic.com/images3_pi/2021/10/08/16336652281cac24e8c76622e43e97dd2482d44e08_thumbnail_600x.jpg "
                alt="" width="150" />
            <p>SKU: swbag18200908501 </p>
        </div>

        <div class="articulo">
            <h2>SHORT NEGRO</h2>
            <p>Manfinity Homme Hombres Shorts con bolsillo oblicuo de cintura con cordón</p>
            <img src=" https://img.ltwebstatic.com/images3_pi/2022/05/26/1653576426afc872989f2a848e14dd37182f731247_thumbnail_600x.jpg "
                alt="" width="150" />
            <p>SKU: sm2205205554520692</p>
        </div>
    </div>

    <div class="footer" th:include="Footer_Template.html :: Footer"></div>

</body>

</html>