<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" <head>
<title>TODO supply a title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../css/Styles.css" rel="stylesheet">

<body class="grid-container">

    <header class="header">
        <h1 th:text="${titulo}"></h1>
        <nav class="nav">
            <ul>
                <a class="links" href="">Inicio</a>
                <a class="links" href="">Destacado</a>
                <a class="links" href="">Prendas</a>
            </ul>
        </nav>
    </header>

    <Aside class="aside">
        Aside
        <p>orem ipsum dolor sit amet consectetur adipiscing elit, dictum ullamcorper montes tristique himenaeos
            sollicitudin, consequat egestas ornare felis cras torquent. Varius metus condimentum lacinia per vestibulum
            congue massa mauris, dictum nascetur nisi tortor auctor suscipit mattis, nec a fermentum et ultricies lacus
            nostra. Sapien eu neque conubia id viverra iaculis per, augue purus ultricies habitasse nulla congue
            hendrerit consequat, laoreet malesuada a massa velit dictumst.</p>
    </Aside>

    <section class="section">
        Section
        <p>orem ipsum dolor sit amet consectetur adipiscing elit, dictum ullamcorper montes tristique himenaeos
            sollicitudin, consequat egestas ornare felis cras torquent.</p>
    </section>

    <footer class="footer">
        Footer
        <p>orem ipsum dolor sit amet consectetur adipiscing elit, dictum ullamcorper montes tristique himenaeos
            sollicitudin, consequat egestas ornare felis cras torquent.</p>
    </footer>
</body>

</html>