<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" <head>
<title>YellowMen</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../css/Styles.css" rel="stylesheet">

<body class="grid-container">
    <header class="header">
        <h1 th:text="${titulo}"></h1>
        <nav class="nav">
            <ul>
                <li><a class="links" href="inicio.html" style="background-color: black;"><Strong>Inicio</Strong></a></li>
                <li><a class="links" href="destacado.html">Destacado</a></li>
                <li><a class="links" href="prendas.html">Prendas</a></li>
            </ul>
        </nav>
        
    </header>

    <section class="section">
        Section
        <p>orem ipsum dolor sit amet consectetur adipiscing elit, dictum ullamcorper montes tristique himenaeos
            sollicitudin, consequat egestas ornare felis cras torquent.</p>
    </section>

    <footer class="footer">
        <p>Nuestras redes</p>
        <a href="https://wa.me/+50664883639" target="_blank" >
            <img src="../img/whatsapp.png" alt="WhatsApp" class="LinksRedes">
        </a>
        <a href="https://www.instagram.com/yellowmen_storecr" target="_blank" >
            <img src="../img/instagram.png" alt="Instagram" class="LinksRedes">
        </a>
    </footer>
</body>

</html>
