<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <title>Login</title>
        <link href="css/StylesInicioSesion.css" rel = "stylesheet">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class = "box">
            <div class="container">
                <div class = "top-header">
                    <header><Strong>Login</Strong></header>
                </div>
                <form method="POST" th:action="@{/login}">
                    <div class="form-group row my-3">
                        <label class="col-md-5 my-auto" for="username"><i class="fas fa-user-lock"></i>[[#{perfil.usuario}]]</label>
                        <div class="col-md-7 my-auto">
                            <input class="form-control" id="username" name="username" type="text"/></div>
                    </div>
                    <div class="form-group row my-3">
                        <label class="col-md-5 my-auto" for="password"><i class="fas fa-key"></i>[[#{perfil.contraseña}]]</label>
                        <div class="col-md-7 my-auto"><input class="form-control" id="password" name="password" type="password"/></div>
                    </div>
                    <div>
                        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe">[[#{inises.record}]]</label>
                    </div>
                    <div class="card-footer col text-center">
                        <button class="btn btn-success" type="submit">
                            <span class="btn"><i class="fas fa-sign-in-alt"></i>
                                [[#{inises}]]</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

