
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" <head>
<title>Yellow Men</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../css/StylesPrendas.css" rel="stylesheet">
<link href="../css/Styles.css" rel="stylesheet">

<body class="grid-container">

    <div class="header" th:include="Header_Template.html :: header"></div>

    <div class=Box_Clothes>
        <div class="box_each_Prenda">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID#</th>
                        <th scope="col">Prenda</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- This comes from the model that is in the ClothesController -->
                    <tr th:each="prenda : ${clothes}">

                        <td><span th:text="${prenda.id}"></span></td>
                        <td><span th:text="${prenda.nombre_prenda}"></span></td>
                        <td><span th:text="${prenda.descripcion}"></span></td>
                        <td><span th:text="${prenda.precio}"></span></td>
                        <td>
                            <img alt="..." class="card-img-top" th:src="${prenda.ruta_imagen}">
                        </td>
                        </td>
                        <td>
                            <button class="btn btn-primary open-modal" data-bs-target="#productModal"
                                data-bs-toggle="modal" th:attr="idClothes=${prenda.id}" type="button">
                                Ver
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="footer" th:include="Footer_Template.html :: Footer"></div>
</body>