<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Yellow Men</title>
    <link href="css/stylesCRUD.css" rel="stylesheet">
    <link href="../css/StylesPrendas.css" rel="stylesheet">
    <link href="../css/Styles.css" rel="stylesheet">

</head>

<body class="grid-container">

    <div class="header" th:include="Header_Template.html :: header"></div>

    <!--Meten template aca -->

    <!-- hasta aca -->

    <script th:inline="javascript">
        /*<![CDATA[*/
        Usuarios = /*[[${Usuarios}]]*/ 'default';
        usuariosDefault = /*[[${usuariosDefault}]]*/ 'default';
    /*]]>*/
    </script>
    <script src="../js/views/clothes.js"></script>
    <script src="../js/views/baseCRUD.js"></script>
</body>

</html>